:root {
    --card-margin: 30px;    /* カード間の間隔 */
    --popup-width: 60vw;    /* 拡大表示の幅 */
}

#header {
    position: relative;
    z-index:-1;
    width:100%;
    height: 70vh;
    text-align: center;
    background:url("Images/AstronomicalObservation.png") no-repeat center;
    background-color:rgba(255,255,255,0.35);
    background-blend-mode:lighten;
    background-size:cover;
}

.button a {
    opacity: 0;
    display: inline-block;
    position: relative;   
    width: 20vw;
    max-width: 200px;
    height: auto;
    margin: 5% 0;
    padding: 2% 7%;
    cursor: pointer;
    text-align: center;
    background-color: rgb(95, 156, 235);
    border-radius: 30px;
    filter: drop-shadow(0px 3px 5px #9e9d9d);
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5vw;
    color: #ffffff;
}

.button a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px -10px #201f1f;
}


@media screen and (max-width:768px) {
    #header {
        height: 40vh;
    }
}